<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
   
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GloballendingViews-20180911074019.mdf;Initial Catalog=aspnet-GloballendingViews-20180911074019;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="GlobalTransactEntitiesData" connectionString="metadata=res://*/GlobalTransactEntitiesData.csdl|res://*/GlobalTransactEntitiesData.ssdl|res://*/GlobalTransactEntitiesData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=GlobalTransact;user id=sa;password=su990rt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GlobalTransactEntitiesDataTest" connectionString="metadata=res://*/GlobalTransactEntitiesData.csdl|res://*/GlobalTransactEntitiesData.ssdl|res://*/GlobalTransactEntitiesData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5040.site4now.net;initial catalog=DB_A438AA_PayOrBoro;user id=DB_A438AA_PayOrBoro_admin;password=su990rtc0de;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GlobalTransactEntitiesDataLive" connectionString="metadata=res://*/GlobalTransactEntitiesData.csdl|res://*/GlobalTransactEntitiesData.ssdl|res://*/GlobalTransactEntitiesData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5040.site4now.net;initial catalog=DB_A15E02_PayOrBoro;persist security info=True;User ID=DB_A15E02_PayOrBoro_admin;Password=su990rtc0de;&#xD;&#xA;    MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString0" value="server=localhost;initial catalog=PayTrx;persist security info=True;User ID=sa;Password=su990rt;Integrated Security=SSPI;MultipleActiveResultSets=True;"/>
    <add key="ConnectionString" value="Server=localhost;database=GlobalTransact;uid=sa;pwd=su990rt;" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <!--<add key="ErrorLogFile" value="~/Error/Logs/ErrorLog.txt" />-->
    <add key="ErrorLogFile"  value="~/Error/Logs/ErrorLog.txt"/>
    <add key="PaymentReturnUrl" value="http://localhost:3346/Agent/GetPaymentResponse" />
    <add key="PowerPaymentReturnUrl" value="http://localhost:3346/Power/GetPaymentResponse" />
    <add key="PaymentReturnUrls" value="http://localhost:3346/Paytv/GetPaymentResponse" />
    <add key="Payment_Engine_Url0" value="http://paytrx.net/pays.aspx" />
    <add key="Payment_Engine_Url" value="http://localhost:60658/pays.aspx" />
    <add key="Recurring_Payment_Engine_Url" value="http://localhost:60658/payment.aspx" />
    <add key="Recurring_Payment_Engine_Url0" value="http://paytrx.net/payment.aspx" />
    <add key="SecretKey" value="sk_LIAMVHDTO3T4GQGRNVNZ2EBS8ZEPIOGHPF4UGLRLMI7M3M4SDZWBMLJX" />
    <add key="PublicKey" value="pk_78DMTEBPMLE1LBBC4RDJ7OPLVMCJRVL4VXM875SYHHPH7261OK6U7ZPJ" />
    <add key="agentID0" value="AgtID_FGG" />
    <add key="agentKey0" value="Agk_FDHDFHDHDH" />
    <add key="agentEmail0" value="info@payorboro.com" />
    <add key="agentEmail0" value="modesanya@gmail.com" />
    <add key="CustomerCare" value="customercare@payorboro.com" />
   
    <add key="ValidateCustomerID" value="http://test.powernow.com.ng/api/v1/paelyt/AgentTransact/ValidateCustomerID" />
    <add key="ImageUrl" value="http://localhost:3346/Styles/images/PowerProviderID/" />
    <add key="ImageUrls" value="http://localhost:3346/Styles/images/CableProviderID/" />
    <add key="PowerImageUrls" value="http://localhost:3346/Styles/images/PowerProviderID/" />
    <add key="AirtimeImageUrls" value="http://localhost:3346/Styles/images/Airtime/" />
    
    <!--<add key="Buypower"  value="http://test.powernow.com.ng/api/v1/paelyt/AgentTransact/BuyPower"/>-->
   <add key="StartimesUrl" value="Http://62.173.36.18:8080/stariboss-haiwai_proxy/electronicPaymentService?"/>
   <add key="StartimesUrl0" value="https://62.173.36.18:8443/stariboss-haiwai_proxy/electronicPaymentService?"/>
   <add key="FlutterWave_Requery01" value="http://localhost:60658/api/web/GetTransactionRecord"/>
  <add key="FlutterWave_Requery02" value="http://paytrx.net/api/web/GetTransactionRecord"/>
  <add key="FlutterWave_Requery" value="https://paytrx.com/api/web/GetTransactionRecord"/>

   <add key="queryBalance"  value="queryBalance"/>
   <add key="querySubscriberInfo" value="querySubscriberInfo"/>
   <add key="customerPay2" value="customerPay2"/>
   <add key="UserName" value="StarCallCenter"/>
   <add key="Password" value="StarCallCenter"/>
   <add key="PayerID" value="4200"/>
   <add key="BankCode" value="4200"/>
   <add key="Plaincode" value="GreySP&amp;861"/>
   <add key="serialNum" value="0001"/>
   <add key="smartCardCode" value="02027137167"/>
    <add key="PowerConvFee" value="100"/>
   <add key="ConvFee" value="52.50"/>
   <add key="NoConvFee" value="0" />
   <add key="MinPayableFee" value="900" />
   <add key="payerPwd"  value="abb409d3cd1bcf6585b34f2f461d0c8a"/>
   <add key="PaelytEmail" value="info@yahoo.com"/>
    <add key="PaelytEmailID" value="3028"/>
   <add key="SmsWelcomeMessage" value="your registration on Boro was successful. Welcome! Boro, Pay or Boro made EASY." />
    <!--<add key="SendMailFlag" value="1" />
    <add key="MailServerAddress" value="smtp.gmail.com" />
    <add key="MailFromPassword" value="pa33c0de" />
    <add key="MailFrom" value="paelyt@gmail.com" />
    <add key="SMTPServerPort" value="587" />
    <add key="EnableSsl" value="true" />-->

    <add key="SendMailFlag" value="1" />
    <add key="MailServerAddress" value="smtp.zoho.com" />
    <add key="MailFromPassword" value="Welcome_2017!" />
    <add key="MailFrom" value="noreply@powernow.com.ng" />
    <add key="SMTPServerPort" value="587" />
    <add key="EnableSsl" value="true" />

    <add key="SmsBaseUrl" value="http://portal.bulksmsnigeria.net/api/?" />
    <add key="SmsUserName" value="godwinawojobi@yahoo.com" />
    <add key="SmsPassword" value="captain12" />
    <add key="SmsSender" value="Paytrx" />
    <add key="ResetPasswordLink" value="http://localhost:3346/Home/ResetPassword?value="/>
    <add key="DefaultUser" value="4021"/>


    <!-- Spectranet -->
    <add key="Fetchuser" value="fetchuser"/>
     <add key="SpectranetBaseUrl" value="https://sdp.spectranet.com.ng/sdp_staging/{$Method}/{$UserID}"/>
    <add key="SpectranetfetchUser" value="https://sdp.spectranet.com.ng/sdp_staging/{$fetchuser}/{$UserID}"/>
    <!--<add key="SpectranetfetchUser" value="https://sdp.spectranet.com.ng/sdp_staging/fetchuser/{$UserID}"/>-->
    <add key="SpectranetKnowYourOffer" value="https://sdp.spectranet.com.ng/sdp_staging/planchangelist/{$UserID}"/>
    <add key="SpectranetAuth" value="Basic"/>
    <add key="SpectranetUser" value="admin"/>
    <add key="SpectranetPassword" value="1234"/>
    <add key="SpectranetConvFee"  value="100" />
    <add key="SpecPaymentReturnUrls" value="http://localhost:3346/Isp/GetPaymentResponse" />
    
    <add key="SpectranetChangeplan" value="https://sdp.spectranet.com.ng/sdp_staging/changeplan/{$UserID}/{$desiredplan}"/>

    <add key="SpectranetRvcplan" value=" https://sdp.spectranet.com.ng/sdp_staging/refillaccountwithrcv/{$UserID}/{$Rvc}/{$Pin}"/>
   
    <!-- Spectranet-->
    <add key="FirstLevelreferralPerVending" value="0.4" />
    <add key="SecondLevelreferralPerVending" value="0.2" />

    <add key="FirstLevelreferralPerLending" value="0.4" />
    <add key="SecondLevelreferralPerLending" value="0.2" />
    <!-- payvice-->

    <add key="ValidatePayviceIKPower" value="https://www.payvice.com/api/tran/auth2/purchase"  />

    <add key="payviceUsername" value="noreply@payorboro.com"/>
    <add key="payvicepassword" value="pa33c0de"/>
    <add key="payvicewalletid"  value="76058956" />
    <add key="payvicelookupurl"  value="https://www.payvice.com/api/tran/auth2/lookup"/>
    <add key="payviceAirtimeupurl" value="https://www.payvice.com/api/tran/auth2/purchase"/>
    <add key="payvicecode" value="2265"/>
    <add key="payviceConvFee" value="0"/>
    <add key="PavicePaymentReturnUrl" value="http://localhost:3346/Airtime/GetPaymentResponse"/>
    <!-- payvice-->

    <!-- New Power -->
    <add key="PowerBasenew" value="http://test.payorboro.com/api/v1/paelyt/PowerTransact"  />
    <add key="ValidateCustomerIDnew" value="http://test.payorboro.com/api/v1/paelyt/PowerTransact/ValidateCustomerID" />
    <add key="GetSessionID" value="http://test.payorboro.com/api/v1/paelyt/AccountTransact/GetSessionID?agentid={$agentid}&amp;agentkey={$agentkey}&amp;signature={$signature}" />
   <add key="BoroPowerConvFee" value="15"/>
    <add key="BoroMinimum" value="1500"/>
   <add key="agentID" value="AgID_7V6M9LUPLTRRXOTQTOK3X0" />
   <add key="agentKey" value="Agk_IAEHUERT5QNPUP5H66E4MHBXECWZV6JKI7MVHSQPOROB" />
    <add key="agentEmail" value="modesanya@gmail.com" />
    <add key="Buypower"  value="http://test.payorboro.com/api/v1/paelyt/PowerTransact/BuyPower"/>
    <add key="Buypower00"  value="http://test.powernow.com.ng/api/v1/paelyt/AgentTransact/BuyPower"/>

    <add key="CheckMeterEligibilty"  value="http://test.payorboro.com/api/v1/paelyt/PowerTransact/CheckMeterEligibilty"/>
    <add key="CheckMeterEligibilty0"  value="http://test.powernow.com.ng/api/v1/paelyt/AgentTransact/CheckMeterEligibilty"/>

    <add key="BorrowPower"  value="http://test.payorboro.com/api/v1/paelyt/PowerTransact/BorrowPower"/>
    <add key="BorrowPower0"  value="http://test.payorboro.com/api/v1/paelyt/PowerTransact/BorrowPower"/>


    <add key="PowerBasenew0" value="http://prod.payorboro.com/api/v1/paelyt/PowerTransact"  />
    <add key="ValidateCustomerIDnew0" value="http://prod.payorboro.com/api/v1/paelyt/PowerTransact/ValidateCustomerID" />
    <add key="GetSessionID0" value="http://prod.payorboro.com/api/v1/paelyt/AccountTransact/GetSessionID?agentid={$agentid}&amp;agentkey={$agentkey}&amp;signature={$signature}" />

    <add key="GetTransactionDetails0" value="http://prod.payorboro.com/api/v1/paelyt/PowerTransact/GetTransactionDetails"  />
    <add key="GetTransactionDetails" value="http://prod.payorboro.com/api/v1/paelyt/PowerTransact/GetTransactionDetails"/>
    <!-- New Power-->

    <!-- Online Power Live-->


   <!-- <add key="PowerBasenew0" value="http://test.payorboro.com/api/v1/paelyt/PowerTransact"  />
    <add key="ValidateCustomerIDnew0" value="http://test.payorboro.com/api/v1/paelyt/PowerTransact/ValidateCustomerID" />
    <add key="GetSessionID0" value="http://test.payorboro.com/api/v1/paelyt/AccountTransact/GetSessionID?agentid={$agentid}&amp;agentkey={$agentkey}&amp;signature={$signature}" />

    <add key="PowerBasenew" value="https://prod.payorboro.com/api/v1/paelyt/PowerTransact"  />
    <add key="ValidateCustomerIDnew" value="https://prod.payorboro.com/api/v1/paelyt/PowerTransact/ValidateCustomerID" />
    <add key="GetSessionID" value="https://prod.payorboro.com/api/v1/paelyt/AccountTransact/GetSessionID?agentid={$agentid}&amp;agentkey={$agentkey}&amp;signature={$signature}" />

    <add key="agentID" value="AgID_49LM77PKB1UM3AAARWIDBN" />
    <add key="agentKey" value="Agk_YRDPLG523ATY7Z2PMNWVEBEFFVDMM5ZYNGBKIIMIF9XK" />
    <add key="agentEmail" value="payorboro@gmail.com" />
    <add key="Buypower"  value="https://prod.payorboro.com/api/v1/paelyt/PowerTransact/BuyPower"/>
    <add key="Buypower0"  value="http://test.payorboro.com/api/v1/paelyt/PowerTransact/BuyPower"/>
    <add key="GetTransactionDetails" value="https://prod.payorboro.com/api/v1/paelyt/PowerTransact/GetTransactionDetails"  />-->

    <!-- Online Power Live-->
    <!-- New cable -->
    <!--<add key="GetCableTVPriceList" value="http://test.payorboro.com/api/v1/paelyt/CableTVTransact/GetCableTVPriceList"/>
    <add key="DefaultDstv"  value="4130590301"/>
    <add key="DefaultGotv"  value="7020865571"/>
    <add key="GOTVDSTVCONVFEE"  value="100"/>
    <add key="ValidateCableTVRequest" value="http://test.payorboro.com/api/v1/paelyt/CableTVTransact/ValidateCableTVRequest"/>
    <add key="BuyCableTV" value="http://test.payorboro.com/api/v1/paelyt/CableTVTransact/BuyCableTV"/>
    <add key="PayTvBaseUrl" value="https://payorboro.com/Paytv/"/>
    <add key="DefaultLogin" value="https://payorboro.com/Dashboard/Dashboard"/>
    <add key="DefaultRegister" value="https://payorboro.com/Dashboard/Dashboard"/>

    <add key="DTT" value="101"/>
    <add key="DTH" value="100"/>-->
    
    <!-- New cable -->
    <!-- Discount Values-->
    <add key="DiscountValue" value="0.5" />
    <add key="DiscountActiveFlag" value="1" />
    <!-- Discount Values-->

    <!-- Smile Intgration-->
    <add key="SmileMerchantFk" value="200"/>
    <add key="AirtelMerchantFk" value="201"/>
    <add key="MTNMerchantFk" value="202"/>
    <add key="9MobileMerchantFk" value="203"/>
    <add key="GloMerchantFk" value="204" />

    <add key="GetSmileTVPriceList0" value="http://test.payorboro.com/api/v1/paelyt/DataTransact/GetDataPriceList" />
    <add key="GetSmileTVPriceList" value="http://prod.payorboro.com/api/v1/paelyt/DataTransact/GetDataPriceList" />
    <add key="SMILENoConvFee" value="0" />
    <add key="SMILEConvFee" value="100" />
    <add key="ValidateSmileCustomerID0" value="http://test.payorboro.com/api/v1/paelyt/DataTransact/ValidateCustomerID" />
    <add key="ValidateSmileCustomerID" value="http://prod.payorboro.com/api/v1/paelyt/DataTransact/ValidateCustomerID" />
    <add key="DataBaseUrl" value="https://payorboro.com/Data/"/>
    <add key="DataPaymentReturnUrls" value="http://localhost:3367/Data/GetPaymentResponse" />
    <add key="BuyData0" value="http://test.payorboro.com/api/v1/paelyt/DataTransact/BuyDataBundle"/>
    <add key="BuyData" value="http://prod.payorboro.com/api/v1/paelyt/DataTransact/BuyDataBundle"/>
    <add key="DataImageUrls" value="/Styles/images/DataProviderID/" />
    
    <!-- Smile Integration-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>