
@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")"><i class="fa fa-home home_1"></i></a> / <span>Steps To Buy Data/Airtime</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- FAQ-help-page -->
<div class="help about w3layouts-content">
    <div class="container">
        @*<h3 class="w3-head">Steps To Buy Data/Airtime</h3>*@
        <h4 style="text-align:center; color:#007FFF">
            <a href="#data">STEPS TO BUY DATA</a> |
            <a href="#airtime">STEPS TO BUY AIRTIME</a>
            <!-- <a href="#">Swift</a>  -->

        </h4>

        <div class="faq-w3agile">
         
        

            <ul class="faq">
                <li class="item1">
                
                    <h4>  Select Internet Data on your homepage.</h4>
                    <br />
                    <p>
                        <img src=@Url.Content("/HomeStyle/images/PowerStep1.jpg") height="200" width="200" class="img-responsive zoom-img" alt="" />
                    </p>
                </li>
                <li class="item2">
                   
                    <h4>Select your Internet Provider. </h4>
                    <br />
                    <p>
                        <img src=@Url.Content("/HomeStyle/images/PayDataStep2.jpg") height="200" width="200" class="img-responsive zoom-img" alt="" />
                    </p>
                </li>
                <li class="item3">
                    @*<a href="#" title="click here">WHAT IS THE MINIMUM AMOUNT FOR PURCHASING TV BOUQUETS? </a>
            <ul>
                <li class="subitem1"><p>•	The minimum amount depends on the bouquet plan selected.</p></li>
            </ul>*@
                    <h4>Select and enter the necessary information requested correctly. </h4>
                    <br />
                    <p>
                        <img src=@Url.Content("/HomeStyle/images/PayDataStep3.jpg") height="200" width="200" class="img-responsive zoom-img" alt="" />
                    </p>
                </li>
                <li class="item4">
                  
                    <h4>Click on Proceed.</h4>

                </li>
                <li class="item5">
               
                    <h4>A confirmation page shows and listing out the payment.</h4>

                </li>
                <li class="item6">
                   
                    <h4>Click on Proceed.</h4>

                </li>
                <li class="item7">
                   
                    <h4> Paytrx payment gateway displays </h4>
                    <p>
                        <img src=@Url.Content("/HomeStyle/images/PowerStep5.jpg") height="200" width="200" class="img-responsive zoom-img" alt="" />
                    </p>
                </li>
                <li class="item8">
                    
                    <h4>Select either pay with card or Bank</h4>
                </li>

                <li class="item9">

                    <h4>If you select pay with card</h4>
                </li>

                <li class="item10">

                    <h4>Please enter your ATM card details</h4>
                </li>
                <li class="item11">

                    <h4>The ATM numbers</h4>
                </li>
                <li class="item12">

                    <h4>Expiry date e.g. 11/22</h4>

                </li>
                <li class="item13">

                    <h4>Enter cvv (the 3-digit code at the back of the ATM)</h4>
                </li>
                <li class="item14">

                    <h4>Enter your ATM pin using the keypad</h4>
                </li>
                <li class="item15">

                    <h4>click on pay (It redirects to another page)</h4>
                </li>
                <li class="item16">

                    <h4>Enter OTP sent to your phone from your bank and proceed (It redirects back to the payorboro page) </h4>
                </li>
                <li class="item17">

                    <h4>A payment receipt will be displayed. </h4>
                </li>
            </ul>

            <br>

            <h5 id="airtime">AIRTIME</h5>

            <ul class="faq">
                <li class="item1">

                    <h4>Select Airtime on your homepage.</h4>
                    <br />
                    <p>
                        <img src=@Url.Content("/HomeStyle/images/PowerStep1.jpg") height="200" width="200" class="img-responsive zoom-img" alt="" />
                    </p>
                </li>
                <li class="item2">

                    <h4>Select and enter the necessary information requested correctly. </h4>
                    <br />
                    <p>
                        <img src=@Url.Content("/HomeStyle/images/PayAirtimeStep2.jpg") height="200" width="200" class="img-responsive zoom-img" alt="" />
                    </p>
                </li>
                <li class="item3">
                 
                    <h4>Click on Proceed. </h4>
                    <br />
                   
                </li>
                <li class="item4">

                    <h4>A confirmation page shows and listing out the payment.</h4>
                    <br />
                    <p>
                        <img src=@Url.Content("/HomeStyle/images/PayAirtimeStep4.jpg") height="200" width="200" class="img-responsive zoom-img" alt="" />
                    </p>
                </li>
                <li class="item5">

                    <h4>Click on Proceed.</h4>

                </li>
              
                <li class="item6">

                    <h4> Paytrx payment gateway displays </h4>
                    <p>
                        <img src=@Url.Content("/HomeStyle/images/PowerStep5.jpg") height="200" width="200" class="img-responsive zoom-img" alt="" />
                    </p>
                </li>
                <li class="item7">

                    <h4>Select either pay with card or Bank</h4>
                </li>

                <li class="item8">

                    <h4>If you select pay with card</h4>
                </li>

                <li class="item9">

                    <h4>Please enter your ATM card details</h4>
                </li>
                <li class="item10">

                    <h4>The ATM numbers</h4>
                </li>
                <li class="item11">

                    <h4>Expiry date e.g. 11/22</h4>

                </li>
                <li class="item12">

                    <h4>Enter cvv (the 3-digit code at the back of the ATM)</h4>
                </li>
                <li class="item13">

                    <h4>Enter your ATM pin using the keypad</h4>
                </li>
                <li class="item14">

                    <h4>click on pay (It redirects to another page)</h4>
                </li>
                <li class="item15">

                    <h4>Enter OTP sent to your phone from your bank and proceed (It redirects back to the payorboro page) </h4>
                </li>
                <li class="item16">

                    <h4>A payment receipt will be displayed. </h4>
                </li>  

            </ul>
            <!-- script for tabs -->
            <script type="text/javascript">
							$(function() {

								var menu_ul = $('.faq > li > ul'),
									   menu_a  = $('.faq > li > a');

								menu_ul.hide();

								menu_a.click(function(e) {
									e.preventDefault();
									if(!$(this).hasClass('active')) {
										menu_a.removeClass('active');
										menu_ul.filter(':visible').slideUp('normal');
										$(this).addClass('active').next().stop(true,true).slideDown('normal');
									} else {
										$(this).removeClass('active');
										$(this).next().stop(true,true).slideUp('normal');
									}
								});

							});
            </script>
            <!-- script for tabs -->
        </div>
    </div>
</div>
<!-- //FAQ-help-page -->

