@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- innerbanner -->
<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")"><i class="fa fa-home home_1"></i></a> / <span>Terms and Conditions / Electricity Bills</span></span>
    </div>
</div>

<div class="agile-terms w3layouts-content">
    <section class="terms-of-use">
        <!-- terms -->
        <div class="terms">
            <div class="container">
                <h3 class="w3-head">Data Teps</h3>

              <h6>1.  Select Internet Data on your homepage.</h6>
                <p>
                    <img src=@Url.Content("/HomeStyle/images/PowerStep1.jpg") class="img-responsive zoom-img" alt="" />
                </p>
              

                <h6>2.	Select your Internet Provider. </h6>
                <p>
                    <img src=@Url.Content("/HomeStyle/images/PayDataStep2.jpg") class="img-responsive zoom-img" alt="" />
                </p>

                <h6>3.	Select and enter the necessary information requested correctly. </h6>
                <p>
                    <img src=@Url.Content("/HomeStyle/images/PayDataStep3.jpg") class="img-responsive zoom-img" alt="" />
                </p>
                <h6> 4.	Click on Proceed.</h6>
               
               
                <h6>5.	A confirmation page shows and listing out the payment.</h6>


                <h6>6.	Click on Proceed.</h6>


                <h6>7. Paytrx payment gateway displays </h6>
                <p>
                    <img src=@Url.Content("/HomeStyle/images/PowerStep5.jpg") class="img-responsive zoom-img" alt="" />
                </p>

                <h6>8.	Select either pay with card or Bank</h6>


                <h6>9.  If you select pay with card</h6>

                <h6>10.	 Please enter your ATM card details</h6>

                <h6>11.	The ATM numbers</h6>

                <h6>12.	Expiry date e.g. 11/22</h6>

                <h6>13.	Enter cvv (the 3-digit code at the back of the ATM)</h6>

                <h6>14.	Enter your ATM pin using the keypad</h6>

                <h6>15.	click on pay (It redirects to another page)</h6>

                <h6>16.	Enter OTP sent to your phone from your bank and proceed (It redirects back to the payorboro page) </h6>

                <h6>17.	A payment receipt will be displayed. </h6>
            </div>
        </div>
        <!-- /terms -->
    </section>
</div>
