
@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")"><i class="fa fa-home home_1"></i></a> / <span>Frequently Asked Questions</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- FAQ-help-page -->
<div class="help about w3layouts-content">
    <div class="container">
        <h3 class="w3-head">FAQs</h3>
        <h4 style="text-align:center; color:#007FFF">
            
            <a href="#startime">STARTIME</a> |
            <a href="#dstv">DSTV</a> |
            <a href="#gotv">GOTV</a>
            <!-- <a href="#">Swift</a>  -->

        </h4>

        <div class="faq-w3agile">
            <h5>PAY TV</h5>

            <ul class="faq">
                <li class="item1">
                    <a href="#" title="click here">HOW DO I PURCHASE MY PAYTV BOUQUETS? </a>
                    <ul>
                        <li class="subitem1">
                            <p> •	Type the URL payorboro.com in a browser [ Laptop, phone, Tablet or Desktop] </p>

                            <div class="sub-para">

                                <p>a. If you are a new user kindly click on “REGISTER” to create an account and enter your details on the next page.</p>
                                <p>b. If you are an existing user click on “LOGIN” and enter your login details. You’ll be taken to a page where you will be asked to put in your customer id, the amount you want to purchase and method of payment.</p>
                                <p>c. You would be taken to a confirmation page to check that the customer id and other details are valid.</p>
                                <p>d. Click confirm and you would be redirected to the payment gateway to enter your payment details.</p>
                                <p>e. On successful payment, the receipt of your successful transaction will be displayed, and customers can print this receipt or save on their system. The customer receipt will be displayed.</p>


                            </div>


                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="click here">CAN PURCHASE A BOUQUET WITHOUT REGISTERING? </a>
                    <ul>
                        <li class="subitem1">

                            <div class="sub-para">

                                <p>a.	Yes, you can. </p>
                                <p>b.	You can do so by clicking on the BUY button and selecting the service required and follow the preceding steps.</p>



                            </div>

                        </li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#" title="click here">WHAT IS THE MINIMUM AMOUNT FOR PURCHASING TV BOUQUETS? </a>
                    <ul>
                        <li class="subitem1"><p>•	The minimum amount depends on the bouquet plan selected.</p></li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#" title="click here">What if it is taking so much to be redirected to the payment gateway? </a>
                    <ul>
                        <li class="subitem1"><p>a.	There is probably a network problem. Kindly Click the Refresh button on your browser or contact us via a phone call via and also our WhatsApp number 0902 629 8534.</p></li>
                    </ul>
                </li>
                <li class="item5">
                    <a href="#" title="click here">What happens if my card (VERVE, VISA, MASTERCARD) doesn’t work? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                b.	Make sure your card is activated for online transactions. You can go to your bank and ask them to activate your card for online transactions.
                            </p>

                            <p>c.	You can contact us customercare@payorboro.com  for more enquiries or contact us via a phone call via and also our WhatsApp number 0902 629 8534</p>
                            <p></p>
                        </li>
                    </ul>
                </li>
                <li class="item6">
                    <a href="#" title="click here">How do I print my receipt?    </a>
                    <ul>
                        <li class="subitem1">
                            <p>a.	You can print your receipt by going to "PREVIOUS TRANSACTIONS" on the main menu.</p>
                            <p>b.	In the Transaction History table displayed, there is a button called "View". Click on the details button.</p>
                            <p>c.	On the transaction details page, you can see the print receipt as the last item on the page. You would also see other details of the transaction on this page.</p>
                            <p>d.	Scroll to the bottom of the page. Click "PRINT RECEIPT" to print your receipt.</p>


                        </li>
                    </ul>
                </li>
                <li class="item7">
                    <a href="#" title="click here">What payment options are available? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                a.	You can pay via your VISA CARD | VERVE CARD | MASTER CARD
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item8">
                    <a href="#" title="click here">How do I solve any other issues I may have?</a>
                    <ul>
                        <li class="subitem1">
                            <p>a.	You can send a mail to customercare@payorboro.com</p>
                            <p>b.	You can go to our Need Help page and contact us appropriately.</p>
                            <p>c.	You can call us and  through our WhatsApp number 0902 629 8534.</p>


                        </li>
                    </ul>
                </li>

            </ul>
            <br>

            <h5 id="startime">STARTIME</h5>

            <ul class="faq">
                <li class="item1">
                    <a href="#" title="click here">.What do I do? I have renewed my subscription, but I am still experiencing some difficulty. </a>
                    <ul>
                        <li class="subitem1">
                            <p>	Kindly contact StarTimes customer care on 014618888 </p>

                           


                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="click here">What is the Easter Promo Offering? </a>
                    <ul>
                        <li class="subitem1">

                            <div class="sub-para">

                                <p>Pay 2 months on Nova, Basic or Smart & Upgrade to higher bouquet to enjoy premium channels for 2 months this Easter</p>
                              


                            </div>

                        </li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#" title="click here">When is the Easter promo starting?</a>
                    <ul>
                        <li class="subitem1"><p>The Promo will run from 15th March to 15th May 2020.</p></li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#" title="click here">How can I participate?</a>
                    <ul>
                        <li class="subitem1"><p> Simply recharge 2 months on Nova, Basic or Smart to get upgraded to higher bouquet to enjoy exciting premium channels; Ebony TV, FOX and more.</p></li>
                    </ul>
                </li>
                <li class="item5">
                    <a href="#" title="click here">Can I participate if I just bought a new decoder? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                NO, your new decoder comes with ONE MONTH FREE CLASSIC SUBSCRIPTION and it can’t be interrupted.
                            </p>

                         
                            <p></p>
                        </li>
                    </ul>
                </li>
                <li class="item6">
                    <a href="#" title="click here">. Can I recharge 1 month and top up later?</a>
                    <ul>
                        <li class="subitem1">
                            <p>NO, you must recharge 2 months instantly to enjoy the upgrade.</p>
                           

                        </li>
                    </ul>
                </li>
                <li class="item7">
                    <a href="#" title="click here">When will my bouquet be upgraded?</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                Your bouquet will be upgraded instantly after recharge
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item8">
                    <a href="#" title="click here">What happens if I pay for 4 MONTHS Basic or Classic?</a>
                    <ul>
                        <li class="subitem1">
                            <p>Customer will enjoy this upgrade for 4 months.</p>
                           

                        </li>
                    </ul>
                </li>
                <li class="item8">
                    <a href="#" title="click here">Can I still recharge with pay per day?</a>
                    <ul>
                        <li class="subitem1">
                            <p>You can still enjoy pay per day with new price, but Customer Care and Call agents can advise customer to recharge more and please refer to “Pay Per Day” new price on slide 8.</p>


                        </li>
                    </ul>
                </li>
               
                

            </ul>


            <br>
            <h5 id="dstv">DSTV</h5>

            <ul class="faq">
                <li class="item1">
                    <a href="#" title="click here">Who can get DStv thanks reward and who can’t? </a>
                    <ul>
                        <li class="subitem1">
                            <p> Active DStv Compact Plus, Compact, Family and Access customers that have paid their subscription on time are eligible for the one week of extra sport. </p>

                            <p>All commercial subscribers, DStv Lite, VIPs and Shareholders will not be eligible to receive the rewards.</p>
                            <p>We are currently only able to provide these specific DStv Thanks offers to our customers in select territories.</p>

                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="click here">Do I need to adjust my decoder to access all the extra sport channels? </a>
                    <ul>
                        <li class="subitem1">

                            <div class="sub-para">

                                <p>You don't need to change a thing! The sports channels will automatically be added and available to use without any decoder adjustments necessary. If you’ve paid your DStv subscription on time, just sit back and get ready to enjoy your extra sport. </p>

                            </div>

                        </li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#" title="click here">I am not getting the rewards even though I qualify. What do I do? </a>
                    <ul>
                        <li class="subitem1">
                            <p>A selection system will be used to identify eligible customers and they will automatically receive the extra sport once the account has been paid on time. There will be no SMS sent as notification.</p>
                            <p>Rewards should be allocated within three (3) working days after payment. If you qualify and the sports channels have still not been activated after this time, you can get the necessary assistance from the MultiChoice call centre, your local DStv agent, or your nearest MultiChoice branch.</p>

                        </li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#" title="click here">Why are GOtv customers receiving access to channels and airtime, but DStv customers have access  </a>
                    <ul>
                        <li class="subitem1"><p>We are constantly seeking opportunities to add value to all our customers. DStv    customers should not feel left out, there are more exciting benefits in store for you!</p></li>
                    </ul>
                </li>
                <li class="item5">
                    <a href="#" title="click here">Will the rewards change from time to time or will there be more more rewards to look forwards to? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                Yes, we’re constantly looking for ways to show our appreciation to our loyal customers for their continuous support. This means that the rewards may change from time to time and there will be other exciting rewards and benefits to come in the future!
                            </p>
                            <p>Any future rewards and benefits information will be shared on this page. </p>


                        </li>
                    </ul>
                </li>
                <li class="item6">
                    <a href="#" title="click here">Why is the channel been opened?    </a>
                    <ul>
                        <li class="subitem1">
                            <p>From time to time, we make content in higher packages available to lower bouquets to allow more of our valued subscribers in the lower tier bouquets to enjoy key   channels and content which are currently only available on higher-tier packages. This Open Window period will give our DStv Compact customers the opportunity to be part of the current global conversations around the two documentaries Surviving R. Kelly and The Harvey Weinstein Scandal.</p>



                        </li>
                    </ul>
                </li>
                <li class="item7">
                    <a href="#" title="click here">When will customers have access to crime + investigation channels? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                The channels will be open from Wednesday, 6 February at 00:01 CAT to Sunday, 10 March at 23:59 CAT and will be open to the Compact package on the DTH (IS20 and E36) platform.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item8">
                    <a href="#" title="click here">Do I need to register to gain access to channels?</a>
                    <ul>
                        <li class="subitem1">
                            <p>No, the channel will automatically be available to DStv Compact customers during the special preview period. You just have to be an active subscriber during the period.</p>

                        </li>
                    </ul>
                </li>
                <li class="item9">
                    <a href="#" title="click here">How do I start getting my extra sports and how long do I have access to these rewards?</a>
                    <ul>
                        <li class="subitem1">
                            <p>Just remember to pay your DStv subscription on time every month and you’ll get the extra sport on your TV without even lifting a finger. You will have access to the one week of extra sport every month for as long as you remain connected. That’s all there is to it!</p>
                            <p>The extra sports channels will be available to you for ONE week from the day your benefit is activated. This is not a calendar week so it will be automatically available for ONLY seven (7) days from the day your benefit is activated, after payment has been made.</p>
                            <p>Once you disconnect or miss a payment, you will no longer be eligible to receive the extra sport. You will need to reconnect and pay the active subscription before the next due date to enjoy the one week of extra sport.</p>


                        </li>
                    </ul>
                </li>
                <li class="item10">
                    <a href="#" title="click here">What sport channels will be on these rewards and will other customers on other bouquets have access to these channels?</a>
                    <ul>
                        <li class="subitem1">
                            <p>DStv Access and DStv Family customers will automatically get access to DStv Compact SuperSport channels for one week. DStv Compact and DStv Compact Plus customers will automatically get access to DStv Premium SuperSport channels for one week.</p>

                        </li>
                    </ul>
                </li>

                <li class="item11">
                    <a href="#" title="click here">What happens when the one week of complimentary sports channels ends?</a>
                    <ul>
                        <li class="subitem1">
                            <p>Your package will revert to your current package’s sports channels. Should you wish to enjoy the sports channels for longer, you will need to upgrade to the higher package or continue to pay on time to enjoy a week of your reward each month.</p>

                        </li>
                    </ul>
                </li>
                <li class="item12">
                    <a href="#" title="click here">Will I have to pay extra to watch these extra sport channels, or will the affect the price of my DStv?</a>
                    <ul>
                        <li class="subitem1">
                            <p>Not at all – this extra sport will be available at no extra cost to your existing DStv subscription. It’s our way of saying thanks to you for staying connected to DStv, so you won't have to pay anything extra for it.</p>
                            <p>MultiChoice is opening up this content to give you even more value and we will continue to look for ways to improve the way you experience our business.</p>

                        </li>
                    </ul>
                </li>
                <li class="item13">
                    <a href="#" title="click here">What is so special about sport channels on compact and premium?</a>
                    <ul>
                        <li class="subitem1">
                            <p>DStv Compact offers customers access to the best football leagues in the world – The Premier League and La Liga.</p>
                            <p>DStv Premium delivers a total sports experience through multiple HD capable channels to enjoy a wide variety of sport including:</p>
                            <p>• Rugby: Vodacom Super Rugby; Sevens World Series;</p>
                            <p>• Cycling: Tour de France, UCI Track Champs, Cape Epic;</p>
                            <p>• Golf: PGA Tour, European Tour and Sunshine Tour;</p>
                            <p>• Tennis: All the Majors, ATP Tour, WTA Tour;</p>
                            <p>• Athletics: World Indoor Championships, Major marathons;</p>
                            <p>• Cricket: ICC World T20, IPL, SA/England/India;</p>
                            <p>• Motorsport: F1, Superbikes, MotoGP, NASCAR, Indycar;</p>
                            <p>• Football: The Premier League, La Liga;</p>
                            <p>• As well as the best International Boxing tournaments in the world.</p>
                            <p>
                                DStv Compact and Compact Plus customers who continue to pay on time will also get an opportunity to watch the UEFA Euro 2020 Championship, UEFA Euro 2020 Qualifiers, European qualifiers for the 2022 FIFA World Cup in Qatar
                                and more exciting football events on DStv; through their ONE WEEK rewards.
                            </p>

                        </li>
                    </ul>
                </li>
                <li class="item14">
                    <a href="#" title="click here">Why is the complimentary sports upgrade only for one week?</a>
                    <ul>
                        <li class="subitem1">
                            <p>This offer is designed to give active DStv customers an opportunity to view and enjoy channels and content they do not normally have access to. This way you can get a taste of the exciting wide variety of entertainment available on other DStv packages.</p>

                        </li>
                    </ul>
                </li>
                <li class="item15">
                    <a href="#" title="click here">What will happen to my package once the complimentary weeks viewing ends?</a>
                    <ul>
                        <li class="subitem1">
                            <p>Once the complimentary week of upgraded sports channels comes to an end, you will automatically return to your original DStv package’s sports channels.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">I have extra view in my house, can I watch the upgrade package on that decoder too?</a>
                    <ul>
                        <li class="subitem1">
                            <p>No, the benefit of upgraded package will only be available to your primary decoder.</p>

                        </li>
                    </ul>
                </li>
            </ul>

            <br>

            <h5 id="gotv">GOTV</h5>

            <ul class="faq">
                <li class="item1">
                    <a href="#" title="click here">What is GOtv wow? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                GOtv Wow is a retention programme (launched in March 2017) aimed at rewarding and giving a “shout-out” subscribers for their continuous loyalty to
                                the brand. The programme aims to add more value for loyal customers by creating the very best television entertainment experience which includes
                                access to exciting additional content at no extra cost.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="click here">Why did GOtv launch this loyalty programme? </a>
                    <ul>
                        <li class="subitem1">

                            <div class="sub-para">

                                <p>
                                    We’re committed to finding ways to improve our service and creating more value for our customers.
                                    The programme is aimed at rewarding and thanking customers for their continuous loyalty to GOtv.
                                </p>

                            </div>

                        </li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#" title="click here">What are the rewards been offered to GOtv customers? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                From 4 February 2019 - GOtv Max customers who stay continuously connected for a month and make payment before due date, can qualify for airtime voucher rewards as our way of saying thank you for their loyalty. The allocation of the airtime vouchers will be based on a daily limit of customers that
                                are the first ones to make a payment. Each country has an allocation of the number of customers who will receive the airtime.
                            </p>
                            <p>GOtv Plus customers who pay on time will continue to receive 1 week of GOtv Max sports while GOtv customers who pay on time will also continue to enjoy the 2 extra channels Viasat Life &amp; Zee Bollywood Movies - until 28 February when the channels will stop airing on the platform</p>

                        </li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#" title="click here">How much will a decoder cost? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                N 5900, this price includes the GOtenna + GOtv Decoder + 1 month GOtv Plus subscription.
                                GOtv strongly recommends the use of an external UHF GOtenna, available at MultiChoice Agents and Retailers!
                            </p>


                        </li>
                    </ul>
                </li>
                <li class="item5">
                    <a href="#" title="click here">Will I have to get another decoder for digital migration? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                No, GOtv is already on the latest DVB-T2 technology, means there is no need to replace or upgrade your decoder – going with GOtv means you will be on the latest technology.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item6">
                    <a href="#" title="click here">Where can I make enquires about GOtv?</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                Call our call centre number  and follow the voice prompts
                                on 234 803 904 4688 or visit www.gotvafrica.com and eazy.gotvafrica.com
                            </p>


                        </li>
                    </ul>
                </li>
                <li class="item7">
                    <a href="#" title="click here">How do I activate my new GOtv decoder? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                Self-activate your decoder by sending the word: accept*IUC number*Surname*mobile number*City*Package type# to the following short code: 4688. Example: Accept*2000123544*Surname*2631234152*Benin*GOtvPlus# OR visit eazy.gotvafrica.com/activate.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item8">
                    <a href="#" title="click here">What does an E16/E30 message mean and how do I clear it?</a>
                    <ul>
                        <li class="subitem1">
                            <p>E16 means your decoder has been disconnected. Please ensure your decoder is switched on before paying your subscription. SMS reset and your ICU number to 4688 if you are still experiencing the E16 error message.</p>
                            <p>E30 means your decoder has been switched off or there was no signal available for a long time. If your subscription has been paid in full, please ensure your decoder is switched on and SMS reset to 4688 to clear the error message displayed on your decoder.</p>

                        </li>
                    </ul>
                </li>

            </ul>
            <!-- script for tabs -->
            <script type="text/javascript">
							$(function() {

								var menu_ul = $('.faq > li > ul'),
									   menu_a  = $('.faq > li > a');

								menu_ul.hide();

								menu_a.click(function(e) {
									e.preventDefault();
									if(!$(this).hasClass('active')) {
										menu_a.removeClass('active');
										menu_ul.filter(':visible').slideUp('normal');
										$(this).addClass('active').next().stop(true,true).slideDown('normal');
									} else {
										$(this).removeClass('active');
										$(this).next().stop(true,true).slideUp('normal');
									}
								});

							});
            </script>
            <!-- script for tabs -->
        </div>
    </div>
</div>
<!-- //FAQ-help-page -->

