
@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")"><i class="fa fa-home home_1"></i></a> / <span>Frequently Asked Questions</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- FAQ-help-page -->
<div class="help about w3layouts-content">
    <div class="container">
        <h3 class="w3-head">FAQs</h3>
        <h4 style="text-align:center; color:#007FFF">
            <a href="#ikeja">IKEJA</a> |
            <a href="#ibadan">IBADAN</a>
            <!-- <a href="#">Swift</a>  -->

        </h4>

        <div class="faq-w3agile">
            <h5>POWER</h5>

            <ul class="faq">
                <li class="item1">
                    <a href="#" title="click here">	How to register an account?</a>
                    <ul>
                        <li class="subitem1"><p>On the PayorBoro Homepage, kindly click on the register tab, A sign up page will be displayed on your screen. Fill in your names, your email address, your phone number, create and confirm a password and the email or mobile number of the person that referred you
</p></li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="click here">How to reset your password?</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                
                               Click on the button ‘forgot password’, enter your registered Email and a password reset link will be sent to your Email address. Click on the link that will be sent to your Email and your password will be reset

                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#" title="click here">Where can I retrieve my payment Receipts?</a>
                    <ul>
                        <li class="subitem1">
                            <p>

                                
                                	All bill payments, token purchased as well as the transaction details are always saved on your PayorBoro Account. Login, Click on the Transaction tab.


                            </p>
                        </li>
                    </ul>
                </li>

                <li class="item4">
                    <a href="#" title="click here">How do I print my receipt?</a>
                    <ul>
                        <li class="subitem1">
                            <p> </p>

                                	
                            <p> a. You can print your receipt by going to "MY TRANSACTIONS" on the main menu.</p>
                            <p>  b. In the Transaction History table displayed, there is a button called "View". Click on the details button. Filter using the date range.</p>
                            <p>  c. On the transaction details page, you can see the print receipt as the last item on the page. You would also see other details of the transaction on this page.</p>
                            <p>  d.  Scroll to the bottom of the page. Click "PRINT RECEIPT” to print your receipt</p>

                           
                        </li>
                    </ul>
                </li>
               
                <li class="item5">
                    <a href="#" title="click here">	What payment options are available?</a>
                    <ul>
                        <li class="subitem1">
                            <p>


                                
                                	You can pay via your VISA CARD | VERVE CARD | MASTER CARD 


                            </p>
                        </li>
                    </ul>
                </li>

                <li class="item6">
                    <a href="#" title="click here">Who can I contact if I have questions about my bill?</a>
                    <ul>
                        <li class="subitem1">
                            <p>

                                
                                	Kindly contact our customer care team on 07064546228, 07056658772 & 09026298534 or send us an email at customercare@payorboro.com


                            </p>
                        </li>
                    </ul>
                </li>

                <li class="item7">
                    <a href="#" title="click here">I did not receive a payment confirmation via sms or email what can I do?</a>
                    <ul>
                        <li class="subitem1">
                             <p>


                                	
                                	Payment confirmations are ALWAYS sent to you through SMS. Yet, occasionally, because of network issues which is outside our ability to control and reliant on the Telecommunication companies or the phone number inputted is incorrect, you might not receive the sms. The payment receipts are likewise sent via email on the off chance that you filled in an email address while processing the transaction on payorboro. The payment receipt will be sent to your email.</p>

                              <p>
                                	You can also retrieve payment receipt by contacting our customer care on  07064546228, 07056658772 & 09026298534 or send us an email at customercare@payorboro.com
                            </p>
                        </li>
                    </ul>
                </li>

                <li class="item8">
                    <a href="#" title="click here">	What do I do if my token or subscription is not generated or activated after payment?</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                             	Kindly contact our customer care team on 07064546228, 07056658772 & 09026298534 or send us an email at customercare@payorboro.com.

                            </p>

                       
                        </li>
                    </ul>
                </li>
             
                <li class="item9">
                    <a href="#" title="click here">Why do I have a debt on my meter?</a>
                    <ul>
                        <li class="subitem1">
                          
                                
                               <p>	    Debt obligations on meter can originate for various reasons.</p>
                               <p> a.	Newly installed meters come with a unit cost on their first recharge of the meter.</P>
                               <p> b.	If there was a debt before the installation of the prepaid meter, the debt obligations on the postpaid meter account are transferred to the Prepaid meter account.</p>
                               <p> c.	Penalty charges for an illegal connection or a meter bypass in your house, the penalty charge will be added as debt to the prepaid meter account.</p>
                               <p> d.	If the reasons above do not suffice, kindly visit the nearest distribution company.   </p>


                         


                        </li>
                    </ul>
                </li>


                <li class="item10">
                    <a href="#" title="click here">When I input my token, I get a response “OLD”</a>
                    <ul>
                        <li class="subitem1">


                            	
                            <p> Infers that the meter has rendered the token invalid (it has terminated) Meter with 021, 01011 must load tokens generated first before buying or loading another token.</p>
                            <p>	Kindly contact our customer care team on 07064546228, 07056658772 & 09026298534 or send us an email at customercare@payorboro.com.</p>






                        </li>
                    </ul>
                </li>

                <li class="item11">
                    <a href="#" title="click here">When I input my token, I get a response “used”</a>
                    <ul>
                        <li class="subitem1">



                            
                            <p>Tokens generated are unique to the prepaid meter accounts. Used means, the token has already been loaded on the meter.</p>
                            <p> This could also be because of a technical issue </p>
                            <p>	Kindly contact our customer care team on 07064546228, 07056658772 & 09026298534 or send us an email at customercare@payorboro.com.</p>




                        </li>
                    </ul>
                </li>

                <li class="item12">
                    <a href="#" title="click here">I was debited for a failed transaction</a>
                    <ul>
                        <li class="subitem1">




                            	
                            <p>	Kindly contact our customer care team on 07064546228, 07056658772 & 09026298534 or send us an email at customercare@payorboro.com.</p>




                        </li>
                    </ul>
                </li>

                <li class="item13">
                    <a href="#" title="click here">	How can I become an agent of payorboro?</a>
                    <ul>
                        <li class="subitem1">





                            <p>Payorboro offer several agent services. Kindly send us an email at customercare@payorboro.com.</p>




                        </li>
                    </ul>
                </li>
               



                <li class="item14">
                    <a href="#" title="click here">How do i purchase my electricity token?</a>
                    <ul>
                        <li class="subitem1">
                            @*<p> •	Type the URL payorboro.com in a browser [ Laptop, phone, Tablet or Desktop] </p>*@

                            <div class="sub-para">

                               <p> a. Click on electricity bill </p>
                               <p>  b. Select your disco </p> 
                               <p> c. Select your meter type, enter your meter number, Phone number, Email and the amount you wish to purchase or pay for and click on proceed. </p> 
                               <p> d. You would be redirected to the payment gateway to enter your payment details. </p> 
                               <p> e. On successful payment, the receipt of your successful transaction will be displayed and SMS confirming the success of your power purchase will be sent to your phone number. For prepaid customers, the meter token will be contained in the receipt displayed.</p> 


                                @*<p>a.	If you do not have an account on the platform click on the "register button" on the home page and enter your details on the next page</p>
                                <p>b.	If you have an account on the platform click on the "login button" on the home page and enter your login details</p>
                                <p>c.	Once you login through any of the methods mentioned above, you would be taken to the order page</p>
                                <p>d.	On the Order page, enter your Meter Number, the Amount you want to purchase, and select the payment method</p>
                                <p>e.	You would be taken to a confirmation page to check that the meter no and other details are valid</p>
                                <p>f.	You would need to check that you accept the terms and conditions to proceed</p>
                                <p>g.	Once you click confirm, you would be redirected to the payment gateway to enter your payment details</p>
                                <p>h.	On successful payment, you would be taken back to buypower.ng where your token would be generated and displayed</p>

                            </div>

                            <p> •	Dial the short-code *946#. </p>

                            <div class="sub-para">

                                <p>a.	When the list of items is displayed, select the buy power prompt.</p>
                                <p>b.	After selecting the buy power prompt, enter your meter number and select the amount you want to purchase.  </p>
                                <p>c.	You would need to check that you accept the terms and conditions to proceed</p>
                                <p>d.	Once you click confirm, you would be redirected to the payment gateway to enter your payment details</p>
                                <p>e.	On successful payment, you would be taken back to buypower.ng where your token would be generated and displayed</p>*@

                            </div>


                        </li>
                    </ul>
                </li>
                <li class="item15">
                    <a href="#" title="click here">How do i Borrow electricity token? </a>
                    <ul>
                        <li class="subitem1">
                            <p> •	Type the URL powernow.com.ng in a browser [ Laptop, phone, Tablet or Desktop]  </p>

                            <div class="sub-para">

                                <p>i. If you do not have an account on the platform click on the "register button" on the home page and enter your details on the next page </p>
                                <p>ii.	If you have an account on the platform click on the "login button" on the home page and enter your login details</p>
                                <p>iii.	Once you login through any of the methods mentioned above and select borrow power</p>
                                <p>iv.	On the Order page, you will enter your Meter Number and confirm your eligibility.</p>
                                <p>v.	Once you have been validated, your credit limit will be shared</p>
                                <p>vi.	You can then select the Amount you want to borrow. Kindly ensure this does not exceed your credit limit. </p>
                                <p>vii.	You would be taken to a confirmation page to check that the meter no and other details are valid</p>
                                <p>viii.	You would need to check that you accept the terms and conditions to proceed</p>
                                <p>ix.	Once you click confirm and successful, the power token will be sent to your email or phone number depending on which you prefer </p>

                            </div>



                            <p> •	Dial the short-code *946#.  </p>

                            <div class="sub-para">

                                <p>x.	When the list of items is displayed, select the borrow power prompt. </p>
                                <p>xi.	After selecting the borrow power prompt, enter your meter number and confirm eligibility. </p>
                                <p>xii.	Once you have been validated, your credit limit will be shared.</p>

                                <p>xiii.	You can then select the Amount you want to borrow. Kindly ensure this does not exceed your credit limit.</p>
                                <p>xiv.	You would need to check that you accept the terms and conditions to proceed</p>
                                <p>xv.	You would be taken to a confirmation page to check that the meter no and other details are valid </p>
                                <p>xvi.	You would need to check that you accept the terms and conditions to proceed</p>


                            </div>


                        </li>
                    </ul>
                </li>
                <li class="item15">
                    <a href="#" title="click here">	What if it's taking so much time to be redirected to the payment page? </a>
                    <ul>
                        <li class="subitem1"><p>•  There is probably a network problem. Kindly Click the Refresh button on your browser or contact us on 07082357630</p></li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">	What if it's taking so much time for my token to be generated? </a>
                    <ul>
                        <li class="subitem1"><p>•	There is probably a network problem. Kindly Click the Refresh button on your browser or contact us on 07082357630</p></li>
                    </ul>
                </li>
                <li class="item17">
                    <a href="#" title="click here">	What happens if my Card (Verve, Visa, Mastercard) doesn't work? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                •	Make sure your card is activated for online transactions. You can go to your bank and ask them to activate your card for online transactions.
                            </p>

                            <p>•	If you are making payment via the USSD channel, kindly ensure that the number in use is the one registered to your bank account.</p>
                            <p>•	You can contact us customercare@powernow.com.ng for more enquiries</p>
                        </li>
                    </ul>
                </li>
                <li class="item18">
                    <a href="#" title="click here">How do I access my tokens? </a>
                    <ul>
                        <li class="subitem1">
                            <p>•	There are 3 ways to access your token and other details of the transaction</p>
                            <p>•	Via Email, SMS and Previous Transactions online or via USSD</p>
                            <p>•	If you entered an email and phone number when creating your account, Your token and other details of the transaction would be sent to the email and phone number as an SMS </p>
                            <p>•	You can also update your email address or phone number  by clicking on update profile and inputting your email address or phone number in the email or phone number field then click on update profile</p>
                            <p>•	You can also access your tokens by going to "Previous Transactions" on the main menu</p>
                            <p>•	In the Transaction History table displayed, there is a button called "Details". click on the details button</p>
                            <p>•	On the transaction details page, you can see the token as the first item on the page. You would also see other details of the transaction on this page.</p>

                        </li>
                    </ul>
                </li>
                <li class="item19">
                    <a href="#" title="click here">How do i print my token or bill? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                •	Go to the transaction details page as described in the previous question above.
                            </p>

                            <p>
                                •	Scroll to the bottom of the page. There is "Print Token" button on this page.
                            </p>

                            <p>
                                •	Please click on the print token button to print your utility bill.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item20">
                    <a href="#" title="click here">What do I do if my token is not generated after payment?</a>
                    <ul>
                        <li class="subitem1">
                            <p>•	The odds are that we would have seen it and contacted you beforehand. However kindly contact us on **********,</p>
                            <p>•	If the lines are busy, you can send a mail to support@powernow.com.ng. We would get back to you in no time</p>

                        </li>
                    </ul>
                </li>

                <li class="item21">
                    <a href="#" title="click here">What do I do if my token is not generated after payment?</a>
                    <ul>
                        <li class="subitem1">
                            <p>•	You can pay via your VISA CARD | VERVE CARD | MASTER CARD | USSD</p>
                        </li>
                    </ul>
                </li>

                <li class="item22">
                    <a href="#" title="click here">	How do I resolve any other issues i may have?</a>
                    <ul>
                        <li class="subitem1">
                            <p>•	You can send a mail to support@powernow.com.ng</p>
                            <p>•	You can go to our Need Help page and contact us appropriately.</p>
                            <p>•	You can call us on **********</p>

                        </li>
                    </ul>
                </li>

                <li class="item23">
                    <a href="#" title="click here">Can I buy power token while still owing?</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                •	No, you cannot. You will have to settle your debt before you can purchase new power units. Kindly note that when you purchase tokens when still owing ,
                                that your debt will first be deducted before tokens are given to you.
                            </p>

                        </li>
                    </ul>
                </li>

            </ul>
            <br>

            <h5 id="ikeja">IKEJA</h5>

            <ul class="faq">
                <li class="item1">
                    <a href="#" title="click here">My energy charge used to be N13.21 per kwh because I live un a residential apartment. How much would I be charged in the new tariff plan? </a>
                    <ul>
                        <li class="subitem1">
                            <p> you will be charged N21.30 per kwh if you use a single-phase meter. However, if you use a triple phase meter, you will be charged N21.80 per kwh. However, please find below tariff rate for different classes of customer. </p>

                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="click here">I want to change my details i.e. name, phone number etc; how do I go about it? </a>
                    <ul>
                        <li class="subitem1">

                            <div class="sub-para">

                                <p>kindly go with your proof of ownership to the customer care centre at your nearest business unit. </p>

                            </div>

                        </li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#" title="click here">What is my tariff class? </a>
                    <ul>
                        <li class="subitem1">
                            <p>Your tariff class is clearly stated on your bill.</p>


                        </li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#" title="click here">My meter is in good working condition, the marketer in charge takes the reading monthly but I keep getting estimated bills, how do I resolve this? </a>
                    <ul>
                        <li class="subitem1"><p>please contact ikeja electric call centre or send your account details with the current meter reading to customercare@ikejaelectric.com and this will be investigated.</p></li>
                    </ul>
                </li>
                <li class="item5">
                    <a href="#" title="click here">I have a functional meter, but nobody comes to read it  </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                please contact ikeja electric call centre or send an email to customercare@ikejaelectric.com with your account number and full address in order for this to be rectified.
                            </p>


                        </li>
                    </ul>
                </li>
                <li class="item6">
                    <a href="#" title="click here">I made payment some months back and up till now the payment has not reflected. Why?  </a>
                    <ul>
                        <li class="subitem1">
                            <p>Please take your evidence of payment to the nearest business unit.</p>
                        </li>
                    </ul>
                </li>
                <li class="item7">
                    <a href="#" title="click here">I made payment early this month and the bill brought yesterday does not reflect my payment why? </a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                : your payment must have been made when the current bill was already being printed and so your payment could not be captured; it should reflect on the next bill.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item8">
                    <a href="#" title="click here">What is fixed charge and why should I pay?</a>
                    <ul>
                        <li class="subitem1">
                            <p>fixed charge is a statutory rental fee. However, you will no longer pay fixed charges has approved by our regulatory body NERC.</p>

                        </li>
                    </ul>
                </li>
                <li class="item9">
                    <a href="#" title="click here">Why should I be made to Pay for electricity that the former tenant consumed and left huge debts?</a>
                    <ul>
                        <li class="subitem1">
                            <p>please liaise with your landlord on the settlement of the accumulated bills. You may also visit the customer care of the nearest business unit to negotiate an agreement on how the outstanding debt can be settled.</p>
                        </li>
                    </ul>
                </li>
                <li class="item10">
                    <a href="#" title="click here">I wrote a letter to your office when travelling to suspend billing, but I came back, and the bill has been running with huge outstanding what do I do?</a>
                    <ul>
                        <li class="subitem1">
                            <p>please take a copy of your letter to the customer care centre at your business unit and the period of absence will be reconciled.</p>

                        </li>
                    </ul>
                </li>

                <li class="item11">
                    <a href="#" title="click here">What is required to reconnect my service?</a>
                    <ul>
                        <li class="subitem1">
                            <p>you will need to settle your outstanding bill and pay reconnection fee to a designated zenith bank account of your business unit. Account details will be provided at respective business unit.</p>

                        </li>
                    </ul>
                </li>
                <li class="item12">
                    <a href="#" title="click here">Why am I still getting bills after I have disconnected?</a>
                    <ul>
                        <li class="subitem1">
                            <p>bills are delivered in arrears; if you were disconnected within a billing cycle, you will still receive a bill for the consumptions made before the disconnection. Subsequently you will no longer be charged the statutory fixed charges again.</p>
                        </li>
                    </ul>
                </li>
                <li class="item13">
                    <a href="#" title="click here">Why does my bills increase every month?</a>
                    <ul>
                        <li class="subitem1">

                            <p>bills are calculated based on energy consumed for the month</p>


                        </li>
                    </ul>
                </li>
                <li class="item14">
                    <a href="#" title="click here">I have made payment through the bank, but it has not reflected on my bill. What do I do?</a>
                    <ul>
                        <li class="subitem1">
                            <p>please visit the bank and request for an e-receipt to ensure that the payment has been credited to ikeja electric account.</p>

                        </li>
                    </ul>
                </li>
                <li class="item15">
                    <a href="#" title="click here">I have made payment using scratch card, but it has not reflected on my bill. what do I do?</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                please take the scratch card and receipt obtained to the agent that sold the card to you to verify both payment and credit accordingly
                                for submission at your nearest business unit.
                            </p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">I have issues using the above stated payment channels, what do I do?</a>
                    <ul>
                        <li class="subitem1">
                            <p>please contact ikeja electric call, centre or send an email to customercare@ikejaelectric.com</p>

                        </li>
                    </ul>
                </li>

                <li class="item16">
                    <a href="#" title="click here">Will I have to pay a fee to get an account and a bill for my house from ikeja electric?</a>
                    <ul>
                        <li class="subitem1">
                            <p>no, you don’t have to pay a fee. Once you complete the forms, our staffs will come to your house to connect you to our network.</p>

                        </li>
                    </ul>
                </li>

                <li class="item16">
                    <a href="#" title="click here">I have just completed my house and your staff is demanding an amount to open an account for me</a>
                    <ul>
                        <li class="subitem1">
                            <p>please be informed that no ikeja electric staff is allowed to collect cash on behalf of the company for any transaction. The appropriate and only way to open an account is to visit the nearest ikeja electric office close to you to complete a form.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Will I get a meter if I am indebted to ikeja electric?</a>
                    <ul>
                        <li class="subitem1">
                            <p>yes, you will get a meter, but the debt will be factored into your account.</p>

                        </li>
                    </ul>
                </li>

                <li class="item16">
                    <a href="#" title="click here">Will the new meter change my bill?</a>
                    <ul>
                        <li class="subitem1">
                            <p>with the installation of the new meters, customers can manage their energy usage more efficiently. this means your new bill will be determined by how much power you consume.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Will my power go out when the meter is installed?</a>
                    <ul>
                        <li class="subitem1">
                            <p>when the meter is installed, the power will be interrupted. Customers will be informed of the interruption prior to installation.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Who bears the cost of the meters?</a>
                    <ul>
                        <li class="subitem1">
                            <p>ikeja electric will bear the cost. Please note that the meter remains the property of IE & cannot be transferred.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">When does the new tariff become effective?</a>
                    <ul>
                        <li class="subitem1">
                            <p>the new tariff becomes effective February 1, 2016.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Its my first time recharging my meter, how do I load my energy token?</a>
                    <ul>
                        <li class="subitem1">
                            <p>activate your meter with factory reset/key change tokens, by following the instructions given to you by our customer care team.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Why can’t I load my energy token?</a>
                    <ul>
                        <li class="subitem1">
                            <p>this could be because you have not entered your energy token number correctly into the meter. If this is not the case, kindly contact our call centre for further assistance.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Why is my monitor blank?</a>
                    <ul>
                        <li class="subitem1">
                            <p>this is a technical issue, kindly contact our call centre to make a complaint.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Why is my monitor displaying an Error E5 message?</a>
                    <ul>
                        <li class="subitem1">
                            <p>your smart card or your monitor unit might be faulty. Kindly contact the call centre for further assistance.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Why is my monitor displaying an Error E9 message?</a>
                    <ul>
                        <li class="subitem1">
                            <p>this could be as a result of the following; the monitor card is not properly connected to the meter or the monitor unit of the meter is faulty. Kindly contact the call centre or visit our office for assistance.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">How can I get a prepaid meter?</a>
                    <ul>
                        <li class="subitem1">
                            <p>please contact our call centre or visit customer care centres for more information on our current process for acquiring meters.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">I have lost my prepaid meter smart card, what do I do?</a>
                    <ul>
                        <li class="subitem1">
                            <p>visit any of our business units closest to you with the copy of your previous vending/purchase receipt. Replacing your card cost =N=5,000.00, and payment should be made into Zenith Bank (1013104220).</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Why do I still receive bills even though I now have a prepaid meter?</a>
                    <ul>
                        <li class="subitem1">
                            <p>please visit the business unit closet to you with a copy of the meter installation documents and your post-paid bill.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Why is my meter displaying an error message?</a>
                    <ul>
                        <li class="subitem1">
                            <p>this could be due to low voltage. Please wait until the voltage is normal.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">I lost my STS card, what do I do?</a>
                    <ul>
                        <li class="subitem1">
                            <p>please check the meter serial number on the face plate of the meter or previous vending/purchase receipt. You can continue to vend with this number. Replacing your STS card is no longer necessary.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">I bought a prepaid meter into my flat, I am moving into a new apartment, can I move with the meter?</a>
                    <ul>
                        <li class="subitem1">
                            <p>prepaid meters are not moveable, we advise you negotiate with your landlord.</p>

                        </li>
                    </ul>
                </li>
                <li class="item16">
                    <a href="#" title="click here">Why is my monitor blank?</a>
                    <ul>
                        <li class="subitem1">
                            <p>this is a technical issue, kindly contact our call centre to make a complaint</p>

                        </li>
                    </ul>
                </li>

                <li class="item16">
                    <a href="#" title="click here">Why can’t I load my energy token?</a>
                    <ul>
                        <li class="subitem1">
                            <p>this could be because you have not entered your energy token numbers correctly into the meter. If this is not the case, kindly contact our call centre for further assistance.</p>

                        </li>
                    </ul>
                </li>

                <li class="item16">
                    <a href="#" title="click here">I purchased energy on my smart card, but it read zero units when I inserted it into my meter. What could be wrong?</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                this could be as a result of the chip on your smart card having partial contact with the meter or network failure at the point of purchase.
                                Please visit our business units closest to you with the original copy of the purchase receipt.
                            </p>

                        </li>
                    </ul>
                </li>

                <li class="item16">
                    <a href="#" title="click here">Why was the fixed charge removed, only to increase the tariff rate?</a>
                    <ul>
                        <li class="subitem1">
                            <p>this is a directive from Nigeria Electricity Regulatory Commission (NERC)-power regulatory body.</p>

                        </li>
                    </ul>
                </li>

            </ul>

            <br>

            <h5 id="ibadan">IBADAN </h5>

            <ul class="faq">
                <li class="item1">
                    <a href="#" title="click here">How to read your bill </a>
                    <ul>
                        <li class="subitem1">
                 <p> <img src= @Url.Content("/HomeStyle/images/ibadan-how.jpg")> </p>
                            <p>First, be sure that the bill delivered to you belongs to you by checking the Name on the top left corner of the bill ( see sample bill above).</p>
                            <p>
                                Your tariff code (shown on the bottom right part of the bill) indicates your tariff class, for example R2 with a corresponding energy charge per kWH.
                                Your present reading as shown on just after the read date signifies the energy consumption reading of your meter as at the date it was last observed.
                                The previous reading subtracted from current reading gives the consumption.
                                Your consumption times the multiplier, times the energy rate, plus fixed charge and plus VAT= pay Total Due as shown on Bill.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#" title="click here">How to read your meter</a>
                    <ul>
                        <li class="subitem1">

                            <div class="sub-para">

                                <p>On all the prepaid meters installed across our network, meter reading can be done by pressing the button on the front of the meter. Parameters including energy units left will be displayed on the LCD. </p>
                                <p>However, for electromechanical meters, the dial display are segmented with different digits. Reading this digit from left to right and subtracting such a value from the Last actual reading gives you the units of energy consumed.</p>
                            </div>

                        </li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#" title="click here">Changing the name on your bill </a>
                    <ul>
                        <li class="subitem1">
                            <p>Please, visit any of our Business Hubs and make a request.</p>
                        </li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#" title="click here">What happens if you don't pay?</a>
                    <ul>
                        <li class="subitem1">
                            <p>
                                This may lead to discontinued electric power supply to the customer.
                                Customers that perform illegal connections or meter bypass if discovered, shall be prosecuted to the full extent of the law.
                                If you know or suspect anyone of meter tampering or energy theft, kindly call the number or send an email to the whistle-blower contact below:
                            </p>
                            <p><img src= @Url.Content("/HomeStyle/images/ibadan-number.jpg")></p>
                           

                        </li>
                    </ul>
                </li>


            </ul>
            <!-- script for tabs -->
            <script type="text/javascript">
							$(function() {

								var menu_ul = $('.faq > li > ul'),
									   menu_a  = $('.faq > li > a');

								menu_ul.hide();

								menu_a.click(function(e) {
									e.preventDefault();
									if(!$(this).hasClass('active')) {
										menu_a.removeClass('active');
										menu_ul.filter(':visible').slideUp('normal');
										$(this).addClass('active').next().stop(true,true).slideDown('normal');
									} else {
										$(this).removeClass('active');
										$(this).next().stop(true,true).slideUp('normal');
									}
								});

							});
            </script>
            <!-- script for tabs -->
        </div>
    </div>
</div>
<!-- //FAQ-help-page -->

