@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="slider" id="home">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">

                    <div class="container">
                        <div class="slider-info">
                            <div class="col-md-6  slider-info-txt">
                                <h2>
                                    NEED TO PAY FOR CABLE TV
                                    AND YOU HAVE NO CASH?
                                </h2>

                                <p>
                                    Boro provides modern automated solutions for your business,
                                    We carefully identify your organization’s needs and map out real time
                                    flow charts that will later be developed into a full fledge software by
                                    our team of programmers.
                                </p>

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top">

                    <div class="container">
                        <div class="slider-info">
                            <div class="col-md-6 slider-info-txt">
                                <h3>credit card processing services</h3>

                                <p>
                                    Boro provides modern automated solutions for your business,
                                    We carefully identify your organization’s needs and map out real time

                                    our team of programmers.
                                </p>

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">

                    <div class="container">
                        <div class="slider-info">
                            <div class="col-md-6 slider-info-txt">
                                <h3>Services for all your customer needs</h3>

                                <p>
                                    Boro provides modern automated solutions for your business,
                                    We carefully identify your organization’s needs and map out real time
                                    flow charts that will later be developed into a full fledge software by
                                    our team of programmers.
                                </p>

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="main add">

        <div class="serviceTab">

            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary" href="#borrowService" data-toggle="tab">
                        <div class="tabHeader">Borrow a service</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="favorites" class="btn btn-default" href="#buyService" data-toggle="tab">
                        <div class="tabHeader">Pay for a service</div>
                    </button>
                </div>

            </div>

            <div class="well">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="borrowService">
                        <p>Service description, each service under a tab, click to borrow.</p>
                        <div class="row iconStyleBox">

                            <a href="#" class="sikZoom">
                                <div class="col-md-4 miniBox1 iconMiniBox ">
   <img src=@Url.Content("/HomeStyle/images/powerServiceIcon.png") class="miniBoxImg1 img-responsive" alt="Tv Icon">
                                    <h5>Electricity Bills</h5>

                                </div>
                            </a>


                            <a href="#" class="sikZoom">
                                <div class="col-md-4 miniBox2 iconMiniBox ">
                                    <img src=@Url.Content("/HomeStyle/images/tvServiceIcon.png") class="miniBoxImg2 img-responsive" alt="Tv Icon">
                                    <h5>Pay TV</h5>

                                </div>
                            </a>

                            <a href="#" class="sikZoom">
                                <div class="col-md-4 miniBox3 iconMiniBox ">
   <img src=@Url.Content("/HomeStyle/images/internetServiceIcon.png") class="miniBoxImg3 img-responsive" alt="Data Icon">
               <h5>Internet Data</h5>
    </div>
                            </a>

                        </div>
                    </div>
                    <div class="tab-pane fade in" id="buyService">
                        <p>Service description, each service under a tab, click to buy.</p>
                        <div class="row iconStyleBox">

                            <a href="#" class="sikZoom">
                                <div class="col-md-4 miniBox1 iconMiniBox ">
     <img src=@Url.Content("/HomeStyle/images/powerBuyServiceIcon.png") class="miniBoxImg1 img-responsive" alt="Tv Icon">
                                    <h5>Electricity Bills</h5>

                                </div>
                            </a>


            <a href="@Url.Action("Buy", "Paytv")" class="sikZoom">
            <div class="col-md-4 miniBox2 iconMiniBox ">
        <img src=@Url.Content("/HomeStyle/images/tvServiceIcon.png") class="miniBoxImg2 img-responsive" alt="Tv Icon">
                                    <h5>Pay TV</h5>

                                </div>
                            </a>

                            <a href="#" class="sikZoom">
                                <div class="col-md-4 miniBox3 iconMiniBox "><img src=@Url.Content("/HomeStyle/images/internetServiceIcon.png") class="miniBoxImg3 img-responsive" alt="Data Icon">
                                    <h5>Internet Data</h5>

                                </div>
                            </a>

                        </div>
                    </div>

                </div>
            </div>

        </div>
</div>
</div>
