@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- innerbanner -->
<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")"><i class="fa fa-home home_1"></i></a> / <span>Terms and Conditions / Electricity Bills</span></span>
    </div>
</div>

<div class="agile-terms w3layouts-content">
    <section class="terms-of-use">
        <!-- terms -->
        <div class="terms">
            <div class="container">
                <h3 class="w3-head">HOW TO PAY TV</h3>

                <h4>1.	Select PayTv on your homepage.</h4>
                <p>
                    <img src=@Url.Content("/HomeStyle/images/PowerStep1.jpg")  height="200" width="200" class="img-responsive zoom-img" alt="" />
                </p>
                <br>
                <h4>2.	Select your pay tv provider</h4>
                <p>
                    <img src=@Url.Content("/HomeStyle/images/PaytvStep2.jpg")  height="200" width="200" class="img-responsive zoom-img" alt="" />
                </p>
                <br>
                <h4>3.	3.	Select and enter the necessary information requested correctly.</h4>
                <p>
                    <img src=@Url.Content("/HomeStyle/images/PaytvStep3.jpg")  height="200" width="200" class="img-responsive zoom-img" alt="" />
                </p>
                <br>
                <h4>4.	Click on Proceed.</h4>
                <br>

                <h4>5.	A confirmation page shows and listing out the payment.</h4>
                <br>
                <img src=@Url.Content("/HomeStyle/images/PaytvStep4.jpg")  height="200" width="200" class="img-responsive zoom-img" alt="" />
               
                <h4>6.	Click on Proceed.</h4>
                <br>
             

                <h4>7. Paytrx payment gateway displays </h4>
                <p>
                    <img src=@Url.Content("/HomeStyle/images/PowerStep5.jpg")  height="200" width="200" class="img-responsive zoom-img" alt="" />
                </p>
                <br>
                <h4>8.	Select either pay with card or Bank</h4>

                <br>
                <h4>9.	If you select pay with card</h4>
                <p>

                </p>
                <br>

                <h4>10.	Please enter your ATM card details</h4>
                <p>

                </p>

                <br>

                <h4>11.	The ATM numbers</h4>
                <p>

                </p>
                <br>
                <h4>12.	Expiry date e.g. 11/22</h4>
                <br>

                <h4>13.	Enter cvv (the 3-digit code at the back of the ATM)</h4>
                <br>

                <h4>14.	Enter your ATM pin using the keypad</h4>
                <br>
                <h4>15.	15.	click on pay (It redirects to another page)</h4>
                <br>
                <h4>16.	Enter OTP sent to your phone from your bank and proceed (It redirects back to the payorboro page) </h4>
                <br>
                <h4>17.	A payment receipt will be displayed. </h4>

            </div>
        </div>
        <!-- /terms -->
    </section>
</div>
