@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSignin.cshtml";
}
@model GloballendingViews.ViewModels.LoanViewModel
<div class="mainSignUp add">

    <div class="row iconStyleBox2">
        <h1 class="formHead">Welcome to Pay or Borrow!</h1>
        <p class="sendTop">Reset Password</p>
@using (Html.BeginForm("RecoverPassword", "Home", FormMethod.Post, new { id = "signup" }))
{
      <form>
          @if (TempData["Message"] != null)
          {
              <div id="Msg" class="alert alert-danger">
                  @TempData["Message"]
              </div>
          }
    
     @Html.TextBoxFor(model => model.AccountsModel.Email, new { placeholder = "Email Address *", @class = "", type = "text", required = "required" })
   
    <input type="submit" class="" value="Proceed" />
        </form>
}

    </div>
</div>