
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSignin.cshtml";
}
@model GloballendingViews.ViewModels.LoanViewModel
<div class="mainSignUp add">

    <div class="row iconStyleBox2">
        <h1 class="formHead">Welcome to Pay or Borrow!</h1>
        <p class="sendTop">Reset Password</p>
        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { value = Request.QueryString["value"] }))
        {
            <form>
                @if (TempData["Message"] != null)
                {
                    <div id="Msg" class="alert alert-danger">
                        @TempData["Message"]
                    </div>
                }
                <input type="text" name="value" value="@TempData["value"]" style="display:none;" readonly="true" />
                @Html.TextBoxFor(model => model.AccountsModel.pasword, new { placeholder = "Password *", name="password", @class = "", type = "password", required = "required" })

                @Html.TextBoxFor(model => model.AccountsModel.confirmPassword, new { placeholder = "Repeat Password *", name = "rpassword", @class = "", type = "password", required = "required" })
              
                <input type="submit" class="" value="Change password" />
            </form>
        }

    </div>
</div>

