@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- innerbanner -->
<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")"><i class="fa fa-home home_1"></i></a> / <span>Terms and Conditions / Data</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- Terms of use-section -->
<div class="agile-terms w3layouts-content">
    <section class="terms-of-use">
        <!-- terms -->
        <div class="terms">
            <div class="container">
                <h3 class="w3-head">T&C: Data</h3>
                <h4 style="text-align:center; color:#007FFF">
                    <a href="#">Spectranet</a> |
                    <a href="#smile">Smile</a> |
                    <!-- <a href="#">Swift</a>  -->

                </h4>
                <div class="spectranet">
                    <h6 style="color:#007FFF">SPECTRANET</h6>

                    <p>THESE TERMS AND CONDITIONS (“T&CS”) CONSTITUTE A BINDING AGREEMENT BETWEEN YOU, THE END USER and GREYSTONE PARTNERS LIMITED REGARDING YOUR USAGE OF THE ‘PAYORBORO SERVICE”, which facilitates your ability to purchase SPECTRANET DATAPLANSV Bouquets (THE “SERVICE”).</p>

                    <p>THESE T&CS GOVERN YOUR USE OF THE SERVICE, THE ASSOCIATED WEBSITE AND APPLICATIONS AND ALL RELATED CHANNELS. THEREFORE, YOU ARE REQUIRED TO READ THESE T&CS AND ACCEPT THE SAME BEFORE UTILISING THE SERVICE. </p>

                    <p>BY USING THE SERVICE (VIA MOBILE CHANNELS, OR WEB PORTALS, OR DOWNLOADING AND INSTALLING THE MOBILE APPLICATION), IT IS DEEMED THAT YOU HAVE READ AND UNDERSTOOD THESE T&CS (AND ANY SUBSEQUENT AMENDMENTS) AND YOU AGREE TO BE LEGALLY BOUND BY ITS PROVISIONS.</p>
                    <p>IF YOU DO NOT AGREE TO THESE T&CS, DO NOT USE THE SERVICE ON ANY OF GREYSTONE’ CHANNELS, OR TRY TO DOWNLOAD, INSTALL OR USE THE APPLICATION. </p>

                    <h6>1.	DEFINITIONS OF KEY TERMS</h6>

                    <p>
                        <strong><i>"Customer"</i></strong>, <strong><i>"You"</i></strong> and <strong><i>“Your"</i></strong> refers to you, the end user of the Service and the person accepting these Terms and Conditions.
                        “T&Cs” refers to these Terms and Conditions
                        “Website” refers to the Payorboro Website, i.e. www.payorboro.com.
                        “Payment gateway” refers to Greystone’s Partners payment gateway provided by Paelyt Solutions Limited
                    </p>

                    <p>
                        Any use of the above terminology or other words in the singular, plural, capitalization is taken as interchangeable and therefore referring to same. Any reference to natural persons includes legal persons and vice-versa
                        and references to any gender includes reference to the other gender.
                    </p>


                    <h6>2.	IMPORTANT TERMS FOR THE USE OF THE SERVICE </h6>

                    <ol type="A">
                        <li>To be eligible to use the Service, you must have a functional decoder from StarTimes and the Service can be accessed via the following channels:</li>
                        <ol type="i">
                            <li>portal via  www.payorboro.com (“Payorboro Website”); and </li>
                            <li>Mobile application which can be downloaded via the Payorboro Website (the “Mobile Application”);and </li>
                            <li>USSD via *946# </li>

                        </ol>

                        <li>
                            The Service will be made accessible via the following channels and these T&Cs shall be automatically applicable- (i) Scratch Cards, (ii) Mobile Money,
                            (iii) POS Terminals, and (iv) Automated Teller Machines (ATM)  (v) USSD.
                        </li>
                        <li>
                            In consideration for Greystone’s provision of the Service to you in accordance with these T&Cs, there may be a convenience fee that will be charged by the payment solution provider, which will be communicated to you prior to your purchase.
                            The convenience fee may be reviewed from time to time and you will be notified of any changes through the Payorboro Website.
                        </li>

                    </ol>
                    <h6>3.	GENERAL TERMS </h6>
                    <p>The following provisions shall also govern your use of the Service:</p>
                    <ol type="A">
                        <li>Greystone will be deemed to have properly given notice of any change to the Service by putting it on the Website and/or any of its other channels.</li>
                        <li>Greystone reserves the right to alter or vary the nature of the Service, these T&Cs and any charges at its sole discretion. </li>
                        <li>All new features introduced from time to time to improve or enhance the Service shall be subject to these T&Cs. </li>
                        <li>Your continued access to and use of the Service shall be deemed to be proof of your acceptance of the updated T&Cs.</li>
                        <li>Some of the new services offered by Greystone may attract separate charges, in which case Greystone will notify the Customer of the availability of new services and their associated charges by putting it on the Website and/or any of its other channels. </li>
                        <li>You are responsible for keeping your account login credentials (user name and password) for accessing the Service confidential and not sharing them with unauthorized users. If you disclose your login credentials to someone, you are responsible for any use, disclosure, additions, deletions and modifications of your data.</li>
                    </ol>

                    <h6>4.	RESTRICTIONS </h6>
                    <p>While using the Service through the Website, Mobile Application or other channels, you shall not do any of the following:- </p>
                    <ol type="A">
                        <li>Copy, modify, translate, adapt or otherwise create derivative works or improvements of the Mobile Application or other channels;</li>
                        <li>Reverse engineer, disassemble, decompile, decode or otherwise attempt to derive or gain access to the source code(s) of the Mobile Application or other channels;</li>
                        <li>Remove, delete, alter or obscure any trademarks or any copyright, trademark, patent or other intellectual property or proprietary rights notices from the Mobile Application or other channels;</li>
                        <li>
                            Rent, lease, lend, sell, sublicense, assign, distribute, publish, publicly perform or display, transfer or otherwise make available the Mobile Application or any features or functionality of the Mobile Application, to any third party for any reason, including by making the Mobile Application available on a network where it
                            is capable of being accessed by more than one device at any time;
                        </li>
                        <li>
                            Remove, disable, circumvent or otherwise create or implement any workaround to any copy protection, rights management or security
                            features in or protecting the Mobile Application;
                        </li>
                        <li>You shall not create a link to the Website from another website or document without Greystone’s prior written consent; or</li>
                        <li>Upload or introduce any virus or malware to the Website or the Mobile Application. </li>

                    </ol>


                    <h6>5.	RECURRING PAYMENTS</h6>
                    <p>
                        By choosing the recurring payments option, you have authorized the payment gateway to: initiate recurring automated clearing house
                        (“ACH”) debit entries from the bank account you specify, or to initiate recurring charges from your specified credit/debit card.
                    </p>
                    <ol type="A">
                        <li>
                            The amount debited from your bank account or charged to your credit/debit card at the stipulated period will be the outstanding balance on your account on the preselected date. Once the recurring option is chosen, all payments will be automatically withdrawn from your specified bank account or charged to the designated credit card/debit card on the chosen recurring
                            date you have selected, unless you terminate your authorization in the manner described herein
                        </li>
                        <li>
                            You agree to be bound by any rules your financial institution requires for pre-authorized electronic funds
                            transfers and/or that your credit/debit card issuer requires for pre-authorized credit/debit card transactions. You are responsible for all fees charged by your financial institution associated with the pre-authorized payment option.
                        </li>
                        <li>
                            In the case of your recurring payment being rejected for non-sufficient funds (“NSF”), you understand that the payment gateway
                            may attempt to process the charge again.
                        </li>
                        <li>
                            d)	You have the right to terminate this authorization at any time online by logging into your account.
                            By selecting “Terminate Recurring Payments” on your dashboard.
                        </li>
                        <li>
                            The  Payment Gateway  or Greystone shall bear no liability or responsibility, and you shall defend, indemnify, and hold  Greystone and her
                            payment gateway partner harmless, for any losses of any kind that you may incur as a result of a payment made on items incorrectly billed
                            or for any delay in the actual date on which your account is debited or your credit/debit card is charged or for any other claim, including
                            any damages, costs, expenses, and attorneys’ fees arising out of your use or you choosing the recurring payment option.
                        </li>
                        <li>
                            IN NO EVENT WILL THE GREYSTONE OR THE PAYMENT GATEWAY BE RESPONSIBLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING LOST PROFITS (EVEN IF ADVISED OF THE POSSIBILITY THEREOF) ARISING IN ANY WAY OUT OF THE RECURRING PAYMENT OPTION, THE GATEWAY’S TOTAL, AGGREGATE LIABILITY TO YOU IS LIMITED TO THE AGGREGATE AMOUNT OF FEES YOU
                            HAVE PAID WHILE USING THE RECURRING PAYMENT SERVICE DURING THE THREE (3) MONTHS PRECEDING THE EVENT GIVING RISE TO YOUR CLAIM
                        </li>
                        <li>These terms do not in any way terminate, amend or modify other terms, agreements or policies that apply to the merchant/user account or any merchant/user services you receive or other agreements you may have with the customer.</li>

                    </ol>

                    <h6>6.	USE OF YOUR PERSONAL DATA OR INFORMATION </h6>

                    <p>
                        You acknowledge that when you download, install or use the Mobile Application, the Website or the Service via any other channel, Greystone may automatically collect personal data or information about you or you may be required to provide certain data or personal information (“Personal Data”) such as your name, address, meter number, etc.  By using the Service, you agree that Greystone can use your Personal Data for the provision and improvement of the Service,
                        and consent to all actions that may be taken by Greystone with respect to your Personal Data.
                    </p>

                    <p>
                        While Greystone shall be required to keep your Personal Data confidential, you acknowledge and agree that Greystone may authorise third parties to view or use your Personal Data, although such third parties shall be required to maintain your Personal Data as confidential pursuant to Greystone’s policies. You agree and do hereby grant to Greystone the irrevocable, perpetual, transferrable right to use, disclose, commercialize, assign, convey, sell, lease,
                        license or transfer any part of your Personal Data that may be necessary for the provision of the Service.
                    </p>

                    <h6>7.	INTELLECTUAL PROPERTY </h6>
                    <p>
                        Greystone and its licensors retains ownership of all copyright, trademarks and other intellectual property rights relating to the, Service, the Website or the Mobile Application (the “Intellectual Property Rights”).   You acknowledge that Greystone has only granted access to you to use the Service via the Website, Mobile Application and other channels. Nothing in these T&Cs shall constitute, or be regarded as, a transfer, license or assignment
                        (whether implied or express) by Greystone or its licensors, of the Intellectual Property Rights to you or any third party.
                    </p>
                    <p>
                        Greystone (and its licensors) reserves the right to use, collect, store, create, aggregate, mine, analyze, modify, commercialize,
                        assign, convey, sell, lease, license or transfer its data in any form, for any purpose and in any manner.
                    </p>

                    <h6>8. ROLLOVER </h6>
                    <h5>PAID DATA BANK</h5>
                    <ol>
                        <li>Subscribers will continue to rollover their unused data from a previous month the next. </li>
                        <li>Rollovers applies to all data capped plans.</li>
                        <li>Unused data can only rollover if the consumer renews on current plan.</li>
                        <li>Rollover applies when renewal of current plan is carried out before the expiration of account.</li>
                    </ol>
                    <h5>FREE OR PROMOTIONAL DATA BANK</h5>

                    <ol>
                        <li>All data volumes acquired as bonus will not qualify for rollover. Data volume given through promotion or as free, needs to be consumed with the subscription validity period. </li>
                        <li>
                            On expiration of free data balance, your usage will start deducting from your paid data balance. Note that if your free data balance has not been fully utilised before the expiration date, your usage will still commence on PAID DATA balance.
                            However, the free data bank will still be seen on your account but access will be denied.
                        </li>
                        <li>
                            Rollover on applies on free data balance when renewal is carried out on another date where a promotion for a free data is running.
                            Wherever data is gotten from the offer is added to your free data balance and valid for the renewal period only.
                        </li>
                    </ol>



                    <h6>9.	UPDATES TO THE MOBILE APPLICATION </h6>
                    <p>From time to time, Greystone may at its sole discretion develop updates to the Mobile Application (such as upgrades, bug fixes, patches and other error corrections and/or new features) (collectively, including related documentation, "Updates"). You acknowledge and agree that Greystone has no obligation to provide particular Updates or enable any particular features or functionality.</p>
                    <p>
                        You recognize that except in cases where your mobile device automatically downloads and installs all available updates, you may receive notice of or be prompted to download and install available Updates. You acknowledge that to fully utilize the Mobile Application, you must promptly download and install all Updates, and that the Mobile Application (or any part thereof) may not properly operate should you fail to do so. You further agree
                        that all Updates will be deemed part of the Mobile Application and be subject to all terms and conditions of this Agreement.
                    </p>


                    <h6>10.	DISCLAIMER OF WARRANTIES</h6>
                    <p>
                        Greystone shall provide the Service to you without a warranty of any kind. To the maximum extent permitted under the applicable law, Greystone
                        (its affiliates, licensors) expressly disclaims all warranties, whether express, implied, statutory or otherwise, with respect to the Service
                        including all implied warranties, and warranties that may arise out of course of dealing, course of performance, usage or trade practice
                    </p>

                    <p>
                        Neither Greystone nor any third party provides any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on the Website or any of our channels for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability
                        for any such inaccuracies or errors to the fullest extent permitted by law
                    </p>
                    <p>Without limiting the foregoing, Greystone does not make any warranty or representation (whether expressly or impliedly) </p>
                    <ol type="i">

                        <li>as to the operation or availability of the Mobile Application, or the related information, software or materials, </li>
                        <li>that the Mobile Application will be uninterrupted or error-free; or </li>
                        <li>that the Mobile Application will be free from viruses, malware, etc.</li>

                    </ol>

                    <h6>11.	LIMITATION OF LIABILITY</h6>
                    <p>
                        You acknowledge and agree that Greystone shall not be liable to you for direct, indirect, special, incidental or consequential damages, or other losses associated with or arising out of or in connection with the Service, or the use or
                        performance of the Website or the Mobile Application.
                    </p>
                    <p>
                        You acknowledge that you have assumed total responsibility for your use of the Service through Greystone’s channels; and your sole remedy
                        against Greystone for dissatisfaction with the Service is to stop using the Service.
                    </p>


                    <h6>12. INDEMNITY</h6>
                    <p>
                        Without prejudice to any other rights and remedies which Greystone may possess, you shall be liable for and shall indemnify Greystone (its officers, directors, employees, agents, affiliates, successors and assigns) from and against any and all losses, damages, liabilities, claims, actions, judgments, settlements, interest, awards, penalties, fines, costs, or expenses of whatever kind,
                        including reasonable attorneys' fees, arising from or relating to your breach of these T&Cs.
                    </p>


                    <h6>13. SEVERABILITY </h6>
                    <p>If any provision of these T&Cs is held to be invalid under an applicable statute or rule of law, such invalidity shall not affect other provisions of these T&Cs, which can be given effect without the invalid provisions, and to this end the provisions of these T&Cs are declared to be severable. </p>


                    <h6>14.	ENTIRE AGREEMENT AND NON-WAIVER</h6>
                    <p>
                        These T&Cs constitute the entire agreement between you and Greystone with respect to the Service and supersede all prior or contemporaneous understandings and agreements, whether written or oral, with respect thereto. No failure to exercise, and no delay in exercising, on the part of either party, any right or any power hereunder shall operate as a waiver thereof, nor shall any single or partial
                        exercise of any right or power hereunder preclude further exercise of that or any other right here under.
                    </p>


                    <h6>15.	GOVERNING LAW</h6>
                    <p>These Terms and Conditions shall be governed by the Laws of the Federal Republic of Nigeria. </p>


                    <h6>16.	DISPUTE RESOLUTION</h6>
                    <p>All disputes shall be resolved by negotiation and mediation.</p>

                </div>


                <div id="smile">
                    <h6 style="color:#007FFF">SMILE</h6>


                    ddd

                </div>
 </div>
        </div>

        <!-- /terms -->
        </section>
    </div>
